// Import libraries

@import "foundation",
		"font",
		"modules";

//
// Variables
//

$header-height: 40px;
$sidebar-width: 350px;

//
// Global styles
//

html {
	min-height: 100%;
	height: 100%;
}

body {
	min-height: 100%;
	background: url('../img/content-bg.png') left repeat-y #ffffff;
}

.clearfix { @include clearfix(); }

.module-loader {
	cursor: pointer;
}

.large-button-wrapper {
	padding-left: 0;
	padding-right: 0;
}

.custom.dropdown, .custom.dropdown .current, .custom.dropdown .selector {
	height: 34px !important;
	line-height: 34px !important;
}

//
// Layout adapt
//

@media only screen and (max-width: $small-screen) {
	body {
		background: #ffffff;
	}
	.main-wrapper {
		margin-left: 0 !important;
	}
	.header-logo {
		width: 100% !important;
	}
}

//
// Header
//

.header {
	background-color: $primary-color;
	height: $header-height;
	line-height: $header-height;
	color: #fff;
	font-size: 14px;
}

.header-logo {
	background-color: darken($primary-color, 10%);
	font-size: 19px;
	font-weight: bold;
	float: left;
	width: $sidebar-width;
}

.header-logo-inner {
}

.header-icon-button {
	color: #fff;
}

.header-icon-button:hover {
	color: #246190;
}

.header-extra {
	padding: 0 0.9375em;
}

.ajax-loader {
	vertical-align: top;
	margin-top: 11px;
	margin-right: 8px;
	width: 19px;
	height: 19px;
	display: none;
}

//
// Mobile navigation
//

.mobile-nav-wrapper {
	display: none;
}

.mobile-nav-wrapper-inner {
	padding: 0 17px 17px 17px;
	border-bottom: $header-height solid #ccc;
}

.mobile-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 40px;
	font-size: 14px;
}

.mobile-nav-header {
	font-weight: bold;
	border-bottom: 8px solid #ddd;
	margin-top: 17px;
}

.mobile-nav-item {
	border-bottom: 1px solid #ddd;
}

@media only screen and (min-width: 768px) {
	.mobile-nav-wrapper {
		display: none !important;
	}
}

//
// Central content
//

.central-content {
	color: #525252;
	font-size: 13px;
}

//
// Sidebar
//

.sidebar {
	background-color: #F6F6F6;
	padding: 0;
	border-right: 1px solid #ccc;
	width: $sidebar-width;
	float: left;
	position: absolute;
}

.sidebar .columns {
	padding: 0;
}

.sidebar-navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sidebar-navigation-item {
	padding: 10px 12px 10px 12px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ccc;
}

.sidebar-navigation-item-header {
	color: #525252;
	font-weight: bold;
	cursor: pointer;
}

.sidebar-sub-navigation {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 6px 0 0 0;
}

.expanded {
	display: block;
}

.sidebar-sub-navigation-item {
	padding: 8px 0 5px 23px;
}

.sidebar-sub-navigation-item-header {
	color: #525252;
}

.notifications {
}

//
// Main content
//

.main-wrapper {
	margin-left: $sidebar-width;
	padding: 10px 17px 10px 17px;
}

.main {
	max-width: none;
}

//
// Grid extensions
//

.full-width {
	width: 100%;
	max-width: 100%;
}
