.logo {
	padding: 0px 10px 10px 10px;
}
.udetails {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.udetails li{
	padding: 5px;
}
.services {
	margin-left: 5px;
}
.otter-faded {
	background-color: #f4f4f4;
	background-image:url('/dashboard/img/ottergreyfaded.png');
	background-repeat: no-repeat;
	background-size: 400px;
	background-position: 100% -80px;
}
.otter-faded li {
	background-color: transparent;
}