{namespace shared.dashboard}

/**
 * @param notifications
 */
{template .getNotifications}
	{foreach $notification in $notifications}
	<li class="notification-feed-item">
		<div id="{$notification.id}">Message: {$notification.message} | Section: {$notification.section} | Link: {$notification.link} | Read: {$notification.read} | Time: {$notification.timestamp}</div>
	</li>
	{/foreach}
{/template}