<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app [
<!ENTITY frontend SYSTEM "frontend.xml">
]>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
     version="2.5">
     
     <!-- For frontend main.soy -->
     
	<context-param>
		<param-name>cssNamespace</param-name>
		<param-value>dashboard</param-value>
	</context-param>

	<context-param>
		<param-name>cssFiles</param-name>
		<param-value>
			/css/account.css,
			/css/home.css
		</param-value>
	</context-param>
	
	<context-param>
		<param-name>jsFiles</param-name>
		<param-value>
			/js/shared.js,
			/js/account.js,
			/js/notifications.js,
			/js/groups.js,
			/js/deadlines.js,
			/js/supervisor.js,
			/js/dashboard.js,
			/soy/js/3/shared.dashboard.js,
			/soy/js/3/dashboard.groups.js,
			/soy/js/3/dashboard.deadlines.js,
			/soy/js/3/dashboard.home.js,
			/soy/js/3/dashboard.account.js,
			/soy/js/3/dashboard.errors.js,
			/soy/js/3/dashboard.notifications.js,
			/soy/js/3/dashboard.supervisor.js,
			/soy/js/3/dashboard.errors.js
		</param-value>
	</context-param>

	<!-- Scripts formerly in the pom.xml
	<custom_scripts>
      	<![CDATA[<link href="/css/vendor/jquery-ui/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css">]]>
      	<![CDATA[<script src="/js/vendor/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>]]>
     
        <![CDATA[<script src="http://malsup.github.com/jquery.form.js" type="text/javascript"></script>]]>
      		
      	<![CDATA[<script src="/js/dashboard.js"></script>]]>
      	<![CDATA[<script src="/js/shared.js"></script>]]>
      		
      	<![CDATA[<script src="/js/notifications.js"></script>]]>
		<![CDATA[<script src="/js/groups.js"></script>]]>
		<![CDATA[<script src="/js/deadlines.js"></script>]]>
        <![CDATA[<script src="/js/supervisor.js"></script>]]>
	</custom_scripts>
	<custom_templates>
		<![CDATA[<script src="/soy/js/3/shared.dashboard.js"></script>]]>
		<![CDATA[<script src="/soy/js/3/dashboard.groups.js"></script>]]>
     	<![CDATA[<script src="/soy/js/3/dashboard.deadlines.js"></script>]]>
		<![CDATA[<script src="/soy/js/3/dashboard.homePage.js"></script>]]>
        <![CDATA[<script src="/soy/js/3/dashboard.errors.js"></script>]]>
        <![CDATA[<script src="/soy/js/3/dashboard.notifications.js"></script>]]>
        <![CDATA[<script src="/soy/js/3/dashboard.supervisor.js"></script>]]>
	</custom_templates>
 	-->

	<!-- For API filter -->
	
	<context-param>
		<param-name>dashboardUrl</param-name>
		<param-value>http://localhost:8080/dashboard</param-value>
	</context-param>
	
	<context-param>
		<param-name>excludePrefixes</param-name>
		<param-value>/api/keys/type/</param-value>
	</context-param>
	
	<context-param>
		<param-name>apiKey</param-name>
		<param-value>4870v534lmomthfssb27ho4vjtidhujlmmssasuf</param-value>
	</context-param>
 	
 	<!-- Filters -->

	<filter>
		<filter-name>Hibernate</filter-name>
		<filter-class>uk.ac.cam.dashboard.util.HibernateSessionRequestFilter</filter-class>
	</filter>

	<filter>
		<filter-name>Htmleasy</filter-name>
		<filter-class>com.googlecode.htmleasy.HtmleasyFilterDispatcher</filter-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>uk.ac.cam.dashboard.util.Dashboard</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>apiauth</filter-name>
		<filter-class>uk.ac.cam.cl.dtg.teaching.APIFilter</filter-class>
	</filter>
	
	<!-- Filter mappings -->
	
	<filter-mapping>
		<filter-name>apiauth</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>Hibernate</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>Htmleasy</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	
	&frontend;
</web-app>